{% extends 'app/base.html' %}

{% block content %}
<h1> All blog posts</h1>
<form action="" method="post">
    {% csrf_token %}
    <div class="row p-0">

    {% for post in posts %}
            <div class="col-lg-4 col-md-6 col-sm-12">
               <div class='card my-3' style='box-shadow:rgba(27,26,26,0.35) 0px 4px 5px;'>
                   <div class="card-body">

                    <a href="{% url 'app:post_detail' slug=post.slug %}">
                    <img src="{{ post.thumb_image.url}}" class="card-img-top" width="60%" height="150"> 
                    <h2 class='fs-4 py-2'><a href="{% url 'app:post_detail' slug=post.slug %}" style="color:rgb(6,97,100);font-size:21px;">{{ post.title }}</a></h2>
                    
                    <p style='float:left;'>
                        Category:<a href="{% url 'app:category_detail' post.category.slug %}">{{ post.category.category_name }}</a>
                      
                        <p>
                        {% if post.tag %}
                        
                        {% comment %} tags:{{i.tag_name}} {% endcomment %}
                        {% for i in post.tag.all %}
                       
                        tags: <a href="{% url 'app:tag_detail' slug=i.slug %}">{{i.tag_name}}</a>
                        {% endfor %}        
                        {% endif %}
                        </p>
                <small style='float:right;' class='py-1'>
                    <time class="date" style='float:right;'>
                       <p class='text-end' style='color:rgb(23,119,3);'> {{ post.published_date }}
                    </time>
                </small>
            </p>

            <p> 
                {% comment %} {% for post in posts.tag.all %}  {% endcomment %}
                {% comment %} Tag:<a href="{% url 'app:tag_detail' slug=post.slug %}" class="ms-4"{{post.tag_name}}</a> {% endcomment %}
               {% comment %} {% endfor %} {% endcomment %}
                 {% comment %} {% endif %} {% endcomment %}
                </p> 
        </div>
    </div>
                       
</div>
    {% endfor %}
</div>
  
<article>
</form>

  {% endblock %}
  
   
        
            
         